# Compiled binaries
*.exe

# Database / CSV data structures
data_students.csv
data_subjects.csv
data_enrollments.csv
data_grades.csv

#explanation files
ARCHITECTURE.md
MAIN_CPP_EXPLANATION.md
APP_JS_EXPLANATION.md
INDEX_HTML_EXPLANATION.md
STYLE_CSS_EXPLANATION.md